Importing libraries

In [1]:
import pandas as pd
import numpy as np
import re
# import prettypandas

In [2]:
data = pd.read_csv('Final_Data.csv')

In [3]:
data.head()

,Title,Production company,Release date,Running time,Country,Language,Box office,Metascore,imdbRating,Rotten_Tomatoes,...,Picture format,Audio format,Original release,Related shows,Japanese,Hepburn,Adaptation by,Animation by,Traditional,Simplified
0,Academy Award Review of Walt Disney Cartoons,['Walt Disney Productions'],"['May 19, 1937 (1937-05-19)']",['41 minutes (74 minutes 1966 release)'],['United States'],['English'],['$45.472'],NaN,7.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Snow White and the Seven Dwarfs,['Walt Disney Productions'],"['December 21, 1937 (1937-12-21) (Carthay Circ...",['83 minutes'],['United States'],['English'],['$418 million[2]'],95.0,7.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Pinocchio,['Walt Disney Productions'],"['February 7, 1940 (1940-02-07) (Center Theatr...",['88 minutes'],['United States'],['English'],['$164 million'],99.0,7.4,73%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Fantasia,['Walt Disney Productions'],"['November 13, 1940 (1940-11-13)']",['126 minutes[1]'],['United States'],['English'],['$76.4–$83.3 million[4][5]'],96.0,7.7,95%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,The Reluctant Dragon,['Walt Disney Productions'],"['June 20, 1941 (1941-06-20)[1]']",['74 minutes'],['United States'],['English'],"['$960,000 (worldwide rentals) [3]']",NaN,6.9,67%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.isnull().sum()

Title                     0
Production company      244
Release date              3
Running time              4
Country                  49
Language                 21
Box office               68
Metascore               149
imdbRating               14
Rotten_Tomatoes          50
Genre                    11
Rated                    23
BoxOffice_Api           131
Type                     11
Directed by               3
Produced by              11
Written by              239
Based on                223
Starring                 35
Music by                 10
Distributed by            5
Budget                  152
Story by                295
Narrated by             383
Cinematography           90
Edited by                36
Languages               419
Screenplay by           238
Countries               393
Production companies    194
Created by              435
Country of origin       435
No.  of seasons         435
No.  of episodes        435
Executive producers     435
Original network        435
Picture format          435
Audio format            435
Original release        435
Related shows           435
Japanese                432
Hepburn                 432
Adaptation by           436
Animation by            436
Traditional             435
Simplified              435
dtype: int64

Columns after Production Companies are not woth keeping ( as almost all vals are null)

In [5]:
data = data.loc[:,'Title':'Production companies']

In [6]:
data[['Title','Production company','Production companies']].tail(60)

,Title,Production company,Production companies
377,"Alexander and the Terrible, Horrible, No Good,...",NaN,['Walt Disney Pictures21 Laps EntertainmentThe...
378,Big Hero 6,NaN,['Walt Disney PicturesWalt Disney Animation St...
379,Into the Woods,NaN,"['Walt Disney Pictures', 'Lucamar Productions'..."
380,"McFarland, USA",NaN,"['Walt Disney Pictures', 'Mayhem Pictures']"
381,Cinderella,NaN,"['Walt Disney Pictures', 'Kinberg Genre', 'All..."
382,Monkey Kingdom,NaN,"['Disneynature', 'Silverback Films[2]']"
383,Tomorrowland,NaN,"['Walt Disney Pictures', 'A113 Productions']"
384,Inside Out,NaN,"['Walt Disney Pictures', 'Pixar Animation Stud..."
385,ABCD 2,['Walt Disney Pictures'],NaN
386,The Good Dinosaur,NaN,"['Walt Disney Pictures', 'Pixar Animation Stud..."
387,The Finest Hours,NaN,"['Walt Disney Pictures', 'Whitaker Entertainme..."
388,Zootopia,NaN,"['Walt Disney Pictures', 'Walt Disney Animatio..."
389,The Jungle Book,NaN,"['Walt Disney Pictures', 'Fairview Entertainme..."
390,Tini: The Movie,NaN,"['The Walt Disney Company Spain', 'Gloriamundi..."
391,Alice Through the Looking Glass,NaN,"['Walt Disney Pictures', 'Roth Films', 'Team T..."
392,Finding Dory,NaN,"['Walt Disney Pictures', 'Pixar Animation Stud..."
393,The BFG,NaN,"['Walt Disney Pictures[1][2]', 'Amblin Enterta..."
394,Pete's Dragon,NaN,"['Walt Disney Pictures', 'Whitaker Entertainme..."
395,Queen of Katwe,NaN,"['Walt Disney Pictures', 'ESPN Films', 'Cine M..."
396,Moana,NaN,"['Walt Disney Pictures', 'Walt Disney Animatio..."
397,Dangal,NaN,['Aamir Khan ProductionsWalt Disney Pictures I...
398,L'Empereur - March of the Penguins 2: The Next...,NaN,"['Wild Bunch', 'National Geographic Films', 'B..."
399,Beauty and the Beast,NaN,"['Walt Disney Pictures', 'Mandeville Films']"
400,Born in China,NaN,"['Disneynature', 'Shanghai Media Group', 'Chua..."
401,Pirates of the Caribbean: Dead Men Tell No Tales,NaN,"['Walt Disney Pictures', 'Jerry Bruckheimer Fi..."
402,Cars 3,NaN,"['Walt Disney Pictures', 'Pixar Animation Stud..."
403,Ghost of the Mountains,NaN,"['Disneynature', 'Brian Leith Productions']"
404,Jagga Jasoos,NaN,['Walt Disney Pictures IndiaPicture Shuru Ente...
405,Coco,NaN,"['Walt Disney Pictures[3]', 'Pixar Animation S..."
406,A Wrinkle in Time,NaN,"['Walt Disney Pictures', 'Whitaker Entertainme..."
407,Incredibles 2,NaN,"['Walt Disney Pictures', 'Pixar Animation Stud..."
408,Christopher Robin,NaN,"['Walt Disney Pictures', '2DUX²']"
409,The Nutcracker and the Four Realms,NaN,"['Walt Disney Pictures', 'The Mark Gordon Comp..."
410,Ralph Breaks the Internet,NaN,"['Walt Disney Pictures', 'Walt Disney Animatio..."
411,Mary Poppins Returns,NaN,"['Walt Disney Pictures', 'Lucamar Productions'..."
412,Dumbo,NaN,"['Walt Disney Pictures', 'Tim Burton Productio..."
413,Penguins,NaN,"['Disneynature', 'Silverback Films[2]']"
414,Aladdin,NaN,"['Walt Disney Pictures', 'Rideback', 'Marc Pla..."
415,Toy Story 4,NaN,"['Walt Disney Pictures', 'Pixar Animation Stud..."
416,The Lion King,NaN,"['Walt Disney Pictures', 'Fairview Entertainme..."
417,Maleficent: Mistress of Evil,NaN,"['Walt Disney Pictures', 'Roth/Kirschenbaum Fi..."
418,Lady and the Tramp,NaN,"['Walt Disney Pictures', 'Taylor Made[3]']"
419,Noelle,['Walt Disney Pictures'],NaN
420,Frozen II,NaN,"['Walt Disney Pictures', 'Walt Disney Animatio..."
421,Togo,['Walt Disney Pictures'],NaN
422,Timmy Failure: Mistakes Were Made,NaN,"['Walt Disney Pictures', 'Etalon Film', 'Slow ..."
423,Onward,NaN,"['Walt Disney Pictures', 'Pixar Animation Stud..."
424,Stargirl,NaN,['Walt Disney PicturesGotham GroupHahnscape En...
425,Dolphin Reef,['Disneynature'],NaN
426,Elephant,['Disneynature'],NaN
427,Artemis Fowl,NaN,"['Walt Disney Pictures', 'TriBeCa Productions'..."
428,Hamilton,NaN,"['Walt Disney Pictures[1]', '5000 Broadway Pro..."
429,Black Is King,NaN,"['Parkwood Entertainment[1]', 'Walt Disney Pic..."
430,Magic Camp,NaN,['Walt Disney PicturesTeam Todd']
431,The One and Only Ivan,NaN,"['Walt Disney Pictures[1]', 'Jolie Pas Product..."
432,Mulan,NaN,"['Walt Disney Pictures', 'Jason T. Reed Produc..."
433,Godmothered,NaN,"['Walt Disney Pictures', 'Secret Machine Enter..."
434,Safety,NaN,['Walt Disney Pictures[2]Mayhem PicturesSelect...
435,Soul,NaN,"['Walt Disney Pictures', 'Pixar Animation Stud..."
436,Flora & Ulysses,NaN,"['Walt Disney Pictures', 'Netter Productions']"

In [7]:

# We can see that wherever Production company is null we have values in Production companies, 
# which is intuitive enough by it's name itself, so we can merge it into one column.
# Same thing was found for country & countries , Language & Languages.

data['Production company'] = np.where(data['Production company'].isnull(),
                                     data['Production companies'],data['Production company']) 

data['Country'] = np.where(data['Country'].isnull(),data['Countries'],data['Country']) 

data['Language'] = np.where(data['Language'].isnull(),data['Languages'],data['Language']) 

# Also narrated by has a lot of nulls and box_office_api is unreliable being a third party API data,
# whereas wiki is far more trustworthy. 

data.drop(['Production companies','Languages','Countries','Narrated by','BoxOffice_Api']
           ,axis=1,inplace=True)

Cleaning Columns from here

In [8]:
# remove [1]/[2] link texts and brackets
data['Production company'] = data['Production company'].astype("string").apply(lambda x:re.sub(r'(\[\d\])*|(\[|\])*','',str(x)))

In [9]:
# Cleaning dates
data['Release date'] = data['Release date'].apply(lambda x:re.sub(r'(\[\d\])*','',str(x))) # remove [1]/[2] link texts
def catch_date(x):
    pattern1 = r'\b(\d{4}-\d{2}-\d{2})'  # to catch 1960-04-13
    pattern2 = r'\b([a-zA-Z]+ \d{1,2}, \d{4})'  # to catch 'February 02, 1980'
    if len(re.findall(pattern1,str(x)))!=0:
        return re.findall(pattern1,str(x))[0]
    elif len(re.findall(pattern2,str(x)))!=0:
        return re.findall(pattern2,str(x))[0]
    else:
        return np.nan

data['Release date'] = data['Release date'].astype("string").apply(catch_date)

In [10]:
pattern_rt = r'(\d{2,3} minutes|\d{2,3} min|\d{2,3} min\.)'  # parse out minutes
data['Running time'] = data['Running time'].apply(lambda x:re.findall(pattern_rt,str(x))[0] if len(re.findall(pattern_rt,str(x)))!=0 else np.nan)

In [11]:

# converting values   United StatesUnited Kingdom to --------> ['United States','United Kingdom'] 

def Country_cleaner(x):
    lst = ['United States','United Kingdom','Mexico','Spain', 'Italy','France','Australia','India',
      'Germany','Russia','China','Canada','Malaysia','Japan','Norway','Sweden']
    if type(x)==np.float:  # to handle NAN's
        return x
    temp = []
    for ele in lst:
        if len(re.findall(r'%s'%(ele),x))>0:
            temp.append(ele)
    return temp

In [12]:
data.Country = data.Country.apply(Country_cleaner)

In [13]:

# converting values   EnglishSpanish to --------> ['English','Spanish'] 


def Language_cleaner(x):
    lst = ['English', 'Spanish', 'Portuguese','Norwegian','Inuktitut','Japanese',
      'French',  'Mandarin' ,'Chinese','Hindi','Luganda','German','Swedish' , 'Danish' ,'Icelandic',
      'Gaelic','Scots']
    if type(x)==np.float:
        return x
    temp = []
    for ele in lst:
        if len(re.findall(r'%s'%(ele),x))>0:
            temp.append(ele)
    return temp

In [14]:
data.Language = data.Language.apply(Language_cleaner)

In [15]:
pattern2 = r'\$\d+,?\d+,?\d+,?\d+\.?'  # for $40,070,995, $950000
pattern3 = r'\$\d+\.?\d*\s?(?:million|billion|thousand)?' # for $178 million[3]
pattern1 = r'\$\d+\.?\d*–\$?\d+\.?\d* million'  # for ranges of money $76.4–$83.3 million[4][5] , later took the average after parsing out the values
pattern4 = r'₹?\s?\d+ crore|lakh|lakhs'   # to grab indian rupee format
pattern5 = r'₹\d+\.?\d*? (?:billion|million)'  # to grab ₹1.09 billion
final_regex = '(%s|%s|%s|%s|%s)' %(pattern1,pattern2,pattern3,pattern4,pattern5)

def clean_money(ele):
    if type(ele)==np.float:
        return ele
    return re.findall(final_regex,ele)

In [16]:
data['Box office'] = data['Box office'].apply(clean_money)
data['Box office'] = data['Box office'].apply(lambda x:np.nan if type(x)==np.float else x[-1])

In [17]:
# same parsing for budget
data['Budget'] = data['Budget'].apply(lambda x: np.nan if type(x)==np.float else re.sub(r'(\[\d\])*','',str(x))) # remove [1]/[2] link texts
data['Budget'] = data['Budget'].apply(clean_money) 
data.loc[158,'Budget'] = np.nan  # edge case where budget value was ['Unknown']
data['Budget'] = data['Budget'].apply(lambda x:np.nan if type(x)==np.float else x[-1])

In [18]:
data.columns

Index(['Title', 'Production company', 'Release date', 'Running time',
       'Country', 'Language', 'Box office', 'Metascore', 'imdbRating',
       'Rotten_Tomatoes', 'Genre', 'Rated', 'Type', 'Directed by',
       'Produced by', 'Written by', 'Based on', 'Starring', 'Music by',
       'Distributed by', 'Budget', 'Story by', 'Cinematography', 'Edited by',
       'Screenplay by'],
      dtype='object')

In [19]:
# cleaning and converting to numeric
data['Rotten_Tomatoes(in %)'] = data.Rotten_Tomatoes.apply(lambda x:np.nan if type(x)==np.float else int(str(x).replace('%','')))
data.drop('Rotten_Tomatoes',axis=1,inplace=True)

In [20]:
# all these columns require same treatment
temp = ['Based on', 'Starring', 'Music by',
       'Distributed by', 'Story by', 'Cinematography', 'Edited by',
       'Screenplay by','Directed by','Produced by','Written by']
for col in temp:
    data[col] = data[col].apply(lambda x: np.nan if type(x)==np.float else re.sub(r'(\[\d\])*','',str(x))) # remove [1]/[2] link texts
    data[col] = data[col].apply(lambda ele:np.nan if type(ele)==np.float else ele[2:-2].replace('\'',''))

In [21]:
# converting currency
def converter(ele):
    if type(ele)==np.float:
        return np.nan
    if '$' in ele:
        if '–' in ele:
            t = re.sub(r'[^\d+\.?\d+–]','',ele)
            temp = t.split('–')
            temp = (float(temp[0]) + float(temp[1])) / 2
            return temp*1000000
        if '-' in ele:
            t = re.sub(r'[^\d+\.?\d+-]','',ele)
            temp = t.split('-')
            temp = (float(temp[0]) + float(temp[1])) / 2
            return temp*1000000
        if 'million' in ele:
            t = re.sub(r'[^\d+\.?\d+]','',ele)
            return float(t)*1000000
        if 'billion' in ele:
            t = re.sub(r'[^\d+\.?\d+]','',ele)
            return float(t)*1000000000
        if ',' in ele:
            t = ele.replace('$','').replace(',','')
            return int(t)
        else:
            t = float(ele.replace('$','')) * 1000000
            return t
    if '₹' in ele:
        if 'billion' in ele:
            t = re.sub(r'[^\d+\.?\d+]','',ele)
            return float(t)*13722010
        if 'million' in ele:
            t = re.sub(r'[^\d+\.?\d+]','',ele)
            return float(t)*13616.61
        if 'crore' in ele:
            t = re.sub(r'[^\d+\.?\d+]','',ele)
            return float(t)*136300.78
    else:   # to catch 50 crore
        t = re.sub(r'[^\d+\.?\d+]','',ele) 
        return float(t)*136300.78

In [22]:
data['Budget'] = data['Budget'].apply(converter)
data['Box office'] = data['Box office'].apply(converter)

In [23]:
# helper fuction for cleaning and converting to numeric
def run_time(x):
    if type(x)==np.float:
        return x
    t = re.sub('[^\d+]','',x)
    return int(t)

In [24]:
data['Running time'] = data['Running time'].apply(run_time)

In [25]:
data.head(10)

,Title,Production company,Release date,Running time,Country,Language,Box office,Metascore,imdbRating,Genre,...,Based on,Starring,Music by,Distributed by,Budget,Story by,Cinematography,Edited by,Screenplay by,Rotten_Tomatoes(in %)
0,Academy Award Review of Walt Disney Cartoons,'Walt Disney Productions',1937-05-19,41.0,[United States],[English],45472000.0,NaN,7.1,"Animation, Short, Comedy, Family",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Snow White and the Seven Dwarfs,'Walt Disney Productions',1937-12-21,83.0,[United States],[English],418000000.0,95.0,7.6,"Animation, Family, Fantasy, Musical, Romance",...,Snow Whiteby The Brothers Grimm,"Adriana Caselotti, Lucille La Verne, Harry Sto...","Frank Churchill, Paul Smith, Leigh Harline",RKO Radio Pictures,1490000.0,NaN,NaN,NaN,NaN,NaN
2,Pinocchio,'Walt Disney Productions',1940-02-07,88.0,[United States],[English],164000000.0,99.0,7.4,"Animation, Comedy, Family, Fantasy, Musical",...,The Adventures of Pinocchioby Carlo Collodi,"Cliff Edwards, Dickie Jones, Christian Rub, Wa...",Leigh HarlinePaul J. Smith,RKO Radio Pictures,2600000.0,Ted SearsOtto EnglanderWebb SmithWilliam Cottr...,NaN,NaN,NaN,73.0
3,Fantasia,'Walt Disney Productions',1940-11-13,126.0,[United States],[English],79850000.0,96.0,7.7,"Animation, Family, Fantasy, Music, Musical",...,NaN,"Leopold Stokowski, Deems Taylor",See program,RKO Radio Pictures,2280000.0,"Joe Grant, Dick Huemer",James Wong Howe,NaN,NaN,95.0
4,The Reluctant Dragon,'Walt Disney Productions',1941-06-20,74.0,[United States],[English],960000.0,NaN,6.9,"Animation, Comedy, Family",...,NaN,Robert BenchleyFrances GiffordBuddy PepperNana...,Frank ChurchillLarry Morey,RKO Radio Pictures,600000.0,NaN,Bert Giennon,Paul Weatherwax,NaN,67.0
5,Dumbo,'Walt Disney Productions',1941-10-23,64.0,[United States],[English],1300000.0,96.0,7.2,"Animation, Drama, Family, Musical",...,"Dumbo, the Flying Elephantby Helen AbersonHaro...","Edward Brophy, Herman Bing, Margaret Wright, S...",Frank ChurchillOliver Wallace,RKO Radio Pictures,950000.0,Otto EnglanderJoe GrantDick Huemer,NaN,NaN,NaN,98.0
6,Bambi,'Walt Disney Productions',1942-08-09,70.0,[United States],[English],267400000.0,91.0,7.3,"Animation, Drama, Family",...,"Bambi, a Life in the Woodsby Felix Salten",see below,Frank ChurchillEdward H. Plumb,RKO Radio Pictures,858000.0,Story directionPerce PearceStory adaptationLar...,NaN,NaN,NaN,90.0
7,Saludos Amigos,'Walt Disney Productions',1942-08-24,42.0,[United States],"[English, Spanish, Portuguese]",1135000.0,60.0,6.1,"Animation, Short, Adventure, Comedy, Family, F...",...,NaN,"Lee Blair, Mary Blair, Pinto Colvig, Walt Disn...","Paul Smith, Edward H. Plumb",RKO Radio Pictures,NaN,"Homer Brightman, William Cottrell, Richard Hue...",NaN,NaN,NaN,NaN
8,Victory Through Air Power,'Walt Disney Productions',1943-07-17,65.0,[United States],[English],799000.0,NaN,6.5,"Documentary, Animation, History, War",...,Victory Through Air Power by Maj. Alexander P....,Alexander de Seversky,Edward H. Plumb Paul J. Smith Oliver Wallace,United Artists,788000.0,NaN,Ray Rennahan,Jack Dennis,NaN,54.0
9,The Three Caballeros,'Walt Disney Productions',1944-12-21,71.0,[United States],"[English, Spanish, Portuguese]",3355000.0,85.0,6.4,"Animation, Comedy, Family, Fantasy, Musical",...,NaN,"Clarence Nash, José Oliveira, Joaquin Garay","Edward H. Plumb, Paul J. Smith, Charles Wolcott",RKO Radio Pictures,NaN,"Homer Brightmen, Ernest Terrazas, Ted Sears, B...",NaN,NaN,NaN,82.0

In [26]:
data.to_csv('Cleaned_Data.csv',index=False)